#hotbar {
    /*grid related display*/
    grid-template-columns: repeat(5, 1fr);

    /*sizing*/
    width: 668px;
}

#hotbar-item-1 {
    background-image: url("../Assets/hotbar/hotbar-left-corner.png");
    width: 136px;
}

#hotbar-item-5 {
    background-image: url("../Assets/hotbar/hotbar-right-corner.png");
    width: 136px;
}

#hotbar-item-6 {
    background-image: url("../Assets/hotbar/hotbar-left-bottom.png");
    width: 136px;
}

#hotbar-item-10 {
    background-image: url("../Assets/hotbar/hotbar-right-bottom.png");
    width: 136px;
}