#item-buttons {
  grid-template-columns: repeat(6, 1fr);
}

#selection-buttons {
  grid-template-columns: repeat(10, 1fr);
}

#hotbar {
  /*grid related display*/
  grid-template-columns: repeat(10, 1fr);

  /*sizing*/
  width: 1328px;
}

#hotbar-item-1 {
  background-image: url('../Assets/hotbar/hotbar-left-corner.png');
  width: 136px;
}

#hotbar-item-1 .selected {
  background-image: url('../Assets/hotbar/focused/hotbar-left-corner.png');
  height: 100%;
  width: 100%;
}

#hotbar-item-10 {
  background-image: url('../Assets/hotbar/hotbar-right-corner.png');
  width: 136px;
}

#hotbar-item-10 .selected {
  background-image: url('../Assets/hotbar/focused/hotbar-right-corner.png');
  height: 100%;
  width: 100%;
}
