.popup-toast .item {
  text-align: center;

  height: 100px;
}

.popup-toast .item img {
  max-height: 100%;

  margin-top: 21px;
}

.popup-toast .item p {
  height: 100%;
  width: 50%;

  vertical-align: middle;
  display: inline-block;
}
